<style scoped>

</style>
<template>
    <div class="container">

        <div id="contact-form-subject" class="input-container wcount">
            <label for="wcinput">{{ label }}</label>
            <input type="text" name="wcinput" id="wcinput" 
                v-model="value"
                :placeholder="placeholder" :minlength="min" :maxlength="max"
                required>
            <span class="error">
            </span>
            <p>
                <span class="min-count">{{currentCount}}</span>/<span class="max-count">{{ max }}</span>
            </p>
        </div>
    </div>
</template>

<script>
export default {
      name: 'PageDisplay',
        components: {
            
        },

        props: [
            "min",
            "max",
            "value",
            "label",
            "placeholder"
        ],

        data() {
            return {
                
            }
        },

        created: function() {
        },

        methods: {
        },

        computed: {
            currentCount() {
                var vm = this;
                if (vm.value > vm.max) {
                    vm.value = vm.value.substr(0, vm.max);
                }

                return vm.value.length;
            }
        }
  }
</script>