<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Daniel Stratti's Portfolio. Come and see the projects I've been involved with and the lessons I've learned along the way">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Daniel Stratti's Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="manifest" href="/manifest.json">
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

    <style type="text/css">

        .fade-enter-active,
        .fade-leave-active {
          transition-duration: 0.3s;
          transition-property: height, opacity;
          transition-timing-function: ease;
          overflow: hidden;
        }

        .fade-enter,
        .fade-leave-active {
          opacity: 0.1;
        }

        html, body {
            font-family: 'Roboto', sans-serif;
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: 100vh;

            box-sizing: content-box;
            /*overflow-x: hidden;*/
        }

        .hidden {
          display: none;
        }

        .card {
            background-color: #FFF;
            padding: 0.5em;
            z-index: 2;

            display: inline-block;
            width: 100%;

            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
        }

        
        

        .btn {
            padding: 0.5em 1em;
            border: none;
            border-radius: 0.125em;
            background-color: #b2ff59;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
        }

        .btn:hover {
            background-color: #7ecb20;
        }

        .btn-icon {
            box-sizing: border-box;
            border: none;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            
            height: 24px;
            width: 24px;
        }

        .shadow {
            
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
        
        }

        .icon {
          width: 24px;
          height: 24px;
          position: relative;
          top: 5px;
          margin-right: 10px;
          fill: #fff;
        }

        main > div:nth-child(1) {
            padding-top: 60px;
        }

        #app {
          font-family: 'Avenir', Helvetica, Arial, sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-align: center;
          color: #2c3e50;
          margin-top: 60px;
        }

        .subHeading {
          color: rgba(0, 0, 0, 0.65);
        }

        @media only screen and (min-width: 1000px) {

            .centeredPara {
                margin-left: auto;
                margin-right: auto;
                max-width: 85%;
            }
        }

    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but resume doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  </body>
</html>
