<style scoped>

main {
    min-height: 80vh;
    background-color: #F5F5F6;
}

main,
Header,
Footer {
    transition: all 0.5s;
}

main,
Footer {
    display: block;
    position: relative;
    right: 0;
}

.slide-up-leave-active,
.slide-down-enter-active,
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-up-leave-active,
.slide-down-enter-active {
  transition-duration: 0.75s;
  overflow: show;
}

.slide-left-enter-active,
.slide-right-enter-active {
  transition-duration: 0.25s;

}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0.1;
  transform: translate(100em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0.1;
  transform: translate(-100em, 0);
}

.slide-down-enter,
.slide-up-leave-active {
  opacity: 0.1;
  transform: translate(0, 200em);
}

.slide-down-leave-active,
.slide-up-enter {
  opacity: 0.1;
  transform: translate(0, -200em);
}

@media only screen and (min-width: 1000px) {
    
}

</style>

<template>
    <div id="main">
        <Header :display="drawDisplay"
            @open="display.draw.display = true" 
            @close="display.draw.display = false"/> 

        <DrawMenu :display="drawDisplay" 
            @open="display.draw.display = false" 
            @close="display.draw.display = true"/> 

        <main>
            <transition
                :name="transitionName"
                mode="out-in">

                <router-view></router-view>
            </transition>
        </main>

        <Footer :class="{open: drawDisplay}"/>
        
    </div>
</template>

<script>
    import Header from './Header.vue';
    import DrawMenu from './DrawMenu.vue';
    import Footer from './Footer.vue';

    export default {
        name: 'app-shell',
        components: {
            Header,
            DrawMenu,
            Footer
        },


        data() {
            return {
                display: {
                    draw: {
                        display: false,

                    }
                },
                transitionName: "slide-left",
            }
        },

        watch:{

            '$route' (to, from, next){
                this.display.draw.display = false;

                var transitionName;
                var toPaths = to.path.split('/');
                var fromPaths = from.path.split('/');
                var toDepth = 0;
                var fromDepth = 0;

                // Find out the depth of the resource URI going into
                if (toPaths[toPaths.length - 1] == "") {
                    toDepth = toPaths.length - 1;
                } else {
                    toDepth = toPaths.length;
                }
                
                // Find out the depth of the resource URI leaving 
                if (fromPaths[fromPaths.length - 1] == "") {
                    fromDepth = fromPaths.length - 1;
                } else {
                    fromDepth = fromPaths.length;
                }

                // Decide if sliding to the left or right, deeper resources slide left
                if (this.$router.options.routes.indexOf(toDepth) > 
                    this.$router.options.routes.indexOf(fromDepth)) {
                    transitionName = "slide-left";

                } else if (this.$router.options.routes.indexOf(toDepth) < 
                    this.$router.options.routes.indexOf(fromDepth)) {

                    transitionName = "slide-right";
                } else if (toDepth < fromDepth) {
                    transitionName = 'slide-up';
                } else {
                    transitionName = 'slide-down';
                }

                this.transitionName = transitionName;
                next;
                setTimeout(() => {
                    window.scrollTo(0, 0);
                }, 300);
            }
        },

        methods: {
            
        },


        computed: {
            drawDisplay() {
                return this.display.draw.display;
            }
        },


        created: function() {
        }
    }
</script>
