<style scoped>
.main {
    position: relative;
    background-color: #fff;
    width: auto;
}

.main > div:not(:nth-child(1)) {
    padding: 0.5em;
}

.topimg {
    width: 100%;

}

h3 {
    display: inline-block;
    margin: 0.25em 0px;
    

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.badges {
    position: absolute;
    bottom: -12px;
    right: -8px;
    overflow: visible;
    max-width: 110px;
}

@media screen and (min-width: 1000px) {
    .topimg {
        height: 8em;
    }
}

</style>
<template>
    <div class="main shadow" @click="$emit('click')">
        <img v-if="img != null" class="topimg" :src="img"/>

        <div class="title">
            <h3 v-html="title"></h3>
        </div>

        <div class="badges">
            <IconBadge :img="badge" v-for="(badge, i) in badges.slice(0,2)" :key="i"/>
        </div>
    </div>
</template>

<script>
import IconBadge from "../misc/IconBadge.vue";
export default {
      name: 'DisplayCard',
        components: {
            IconBadge
        },

        props: [
            "title",
            "img",
            "badges"
        ],

        data() {
            return {
                
            }
        },

        created: function() {
        },

        methods: {
        },

        computed: {
        }
  }
</script>