<template>

    <!--transition
    enter-active-class="in"
    leave-active-class="out"-->
    <!-- Draw Menu -->
    <div @click.self="toggleMenu" 
        class="modal-backgound" :class="{in: display, out: !display}">

        <aside :class="{in: display, out: !display}"  id="main-side-nav" ref="main"> <!-- :class="{slideIn: toggleShow, slideOut: !toggleShow}"-->
            <!--div id="personel">
                <!- -router-link to="/">
                    <img id="main-usr-img" src="" alt="" width="180" height="180">
                </router-link- ->

                <div v-if="$store.getters.currentUser">
                    <button type="button" @click="logout" class="left-side">
                        <img src="" alt="Add Questionnaire Icon" height="24" width="24">
                        <span>contact</span>
                    </button>
                    <router-link to="/profile" class="right-side">
                        <img src="" alt="Add Questionnaire Icon" height="24" width="24">
                        <span>send</span>
                    </router-link>
                </div>
            </div-->

            <nav>
                <div class="top-nav">
                    <router-link to="/about">
                        <img src="../../assets/svg_icon/outline-info-24px.svg" alt="About Daniel Stratti" height="24" width="24" class="icon">
                        About <!-- Info -->
                    </router-link>
                </div>

                <div class="top-nav">
                    <router-link to="/skills">
                        <img src="../../assets/svg_icon/outline-list-24px.svg" alt="Skills and familiar technologies" height="24" width="24" class="icon">
                        Skills 
                    </router-link>
                </div>

                <div class="top-nav">
                    <router-link to="/experiences">
                        <img src="../../assets/svg_icon/outline-work_outline-24px.svg" alt="Experience" height="24" width="24" class="icon">
                        Experience <!-- Workout line -->
                    </router-link>
                </div>

                <div class="top-nav">
                    <router-link to="/projects">
                        <img src="../../assets/svg_icon/baseline-folder_open-24px.svg" alt="Project portfolio" height="24" width="24" class="icon">
                        Projects <!-- Folder shared -->
                    </router-link>
                </div>

                <div class="top-nav">
                    <router-link to="/contact">
                        <img src="../../assets/svg_icon/outline-send-24px.svg" alt="Contact" height="24" width="24" class="icon">
                        Contact <!-- Info -->
                    </router-link>
                </div>
            </nav>
        </aside>
    </div>
<!--/transition-->
</template>


<style scoped>
    /* Side Nav */


    #main-side-nav {
        /* F5F5F6 */
        background-color: #F5F5F6;
        /*display: none;*/
        width: 270px;
        height: 100%;
        top: 72px;

        position: fixed;

        

        z-index: 6;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
        
        transition: left 0.5s;
    }

    .out {
        left: -271px;
    }

    .in {
        left: 0;
    }

    .modal-backgound {
        background-color: rgba(0,0,0,0.2);
        position: fixed;
        top: 0;
        left: 0;

        
        z-index: 4;
    }


    .modal-backgound.in {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .modal-backgound.out {
        display: block;
    }


    #personel {
        display: inline-block;
        width: 100%;
        height: 200px;
        padding: 1em 0px;
        box-sizing: content-box;
        background-color: #002984;/*#757de8;*/
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
    }

    #personel > div {
        clear: both;
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        padding: 0px 1em;
    }

    #personel > div > * {
        margin: 0px;
        height: 33px;
        font-size: 20px;
        box-sizing: border-box;
        padding: 1px 7px 2px 7px;
    }

    #main-usr-img {
        border-radius: 50%;
        background-color: #F5F5F6;

    }

    nav {
        padding: 0.25em;
    }

    .top-nav {
        border-bottom: 1px solid rgba(0, 0, 0, 0.45);
        box-sizing: content-box;
    }

    .top-nav:hover {
        border-bottom: 1px solid #F50057;
    }

    .top-nav a {
        padding: 1em 0.5em;
        display: block;
        color: inherit;
        text-decoration: none;
        font-size: 18px;
    }

    .top-nav a:hover {
        text-decoration: none;
    }

.slideIn {  
  display: inline-block !important;
  animation: move-in;
    animation-duration: 0.5s;

    -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */

      animation-iteration-count: 1;

}

.slideOut {
  display: inline-block !important;
  animation: move-out;
      animation-duration: 0.5s;
      -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */

      animation-iteration-count: 1;
    
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes move-in {
    from {left: -275%;}
    to {left: 0px;}
}

@-webkit-keyframes move-out {
    from {left: 0px;}
    to {left: -275%;}
}

@keyframes move-in {
    from {left: -275%;}
    to {left: 0px;}
}

@keyframes move-out {
  from {left: 0px;}
    to {left: -275%;}   
}

.head-links a {
    margin-right: 1em;
}
</style>


<script>
    export default {
        name: 'app-draw',
        props: {
          display: Boolean
        },
        data() {
            return {
                drawOpen: false
            }
        },

        methods: {

            logout: function() {
                this.$store.commit("logout");

                this.$router.push({path: '/login'});
            },

            /**
            *   Emits open and close events for the draw menu
            * @emit {open | close}: the events emitted from this component
            */
            toggleMenu: function() {
                
                this.drawOpen = !this.drawOpen;

                if (this.drawOpen)
                {
                    this.$emit("open");
                } 
                else 
                {
                    this.$emit("close");
                }
            },
        },

        computed: {
            

            userName() {
                return this.$store.getters.userName;
            },

            loggedin() {

                var currentUser = this.$store.getters.currentUser;
   
                // check user is logged in and not expired
                return (currentUser && currentUser.expires > Date.now());
            }
        }
    }
</script>