<style scoped>
footer {
    box-sizing: border-box;
    background-color: #34515e; /* #c60055; /* #ff79b0; /*#ff5983; /* #757ce8; /* #bb002f; /* #002984; */
    color: rgba(255, 255, 255, 0.96);
    /*display: inline-block;
    /*width: 100%;*/
    min-height: 5em;

    padding: 1em;
}

footer h4,
footer h5,
footer h6,
footer p,
footer a,
footer ul,
footer li,
{
    margin: 0px !important;
    color: #e0e0e0;
    font-size: 11px !important;
}

.col {
    display: inline-block;
    max-width: 24%;
}

.flat *,
.col * {
    margin: 0;
    font-size: 0.875em;
    margin: 0.25em;
    padding: 0px;
}

ul * {
    padding-inline-start: 0.125em;
    list-style-type: none;
    color: #E0E0E0;
    font-size: 14px !important;
}

.col {
    margin: 0px 1em;
}

.col ul * {
    padding-inline-start: 1.5em;
    margin: 0.75em;
}

.flat ul * {
    display: inline;
    margin: 0.25em;
    color: #E0E0E0;
    font-size: 0.95em;

}

@media only screen and (min-width: 1000px) {
    .flat * {
        display: inline;
    }
}
</style>

<template>
    <footer>
        <section class="col">
            <h6>Personal</h6>
            <ul>
                <li>
                    <router-link to="/about">
                        About
                    </router-link>
                </li>
                <li>
                    <router-link to="/about/#/education">
                        Education
                    </router-link>
                </li>
                <li>
                    <router-link to="/contact">
                        Contact
                    </router-link>
                </li>
            </ul>
        </section>

        <section class="col">
            <h6>Practical</h6>
            <ul>
                <li>
                    <router-link to="/experiences">
                        Experience
                    </router-link>
                <li>
                    <router-link to="/projects">
                        Projects
                    </router-link>
                </li>
                <li>
                    <router-link to="/skills">
                        Skills
                    </router-link>
                </li>
            </ul>
        </section>

        <!--section class="col">
            <h6>Components</h6>
            <ul>
                <li>
                    <router-link to="/paper">
                        Paper
                    </router-link>
                </li>
            </ul>
        </section-->

        <section class="flat">
            <h6>Contact me for more information</h6>
            <ul>
                <li>
                    <a href="mailto:dstratti1@gmail.com">
                        dstratti1@gmail.com
                    </a>
                </li>
                <li><a href="tel:+61403908337">+61 403 908 337</a></li>
            </ul>
        </section>
    </footer>
</template>


<script>
export default {
      name: 'Footer',

        data() {
            return {
            }
        }
  }
</script>