<style scoped>
* {
    transition: 0.3s;
}

/* https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=00B0FF&secondary.color=90A4AE 

https://material.io/tools/color/#!/?view.left=0&view.right=0&secondary.color=90A4AE&primary.color=424242

https://material.io/tools/color/#!/?view.left=0&view.right=0&secondary.color=00E676&primary.color=424242

https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=03A9F4&secondary.color=607D8B


https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=2196F3&secondary.color=B2FF59

Greys:
    #E1E2E1;
    #F5F5F6
    
*/



    #main-header {
        background-color: #2196F3;
        color: rgba(0, 0, 0, 0.85);
        height: 3.5em;
        width: 100%;
        padding: 8px 16px 8px 16px;

        
  

        position: fixed;
        top: 0;
        z-index: 5;

        display: grid;
        grid-template-columns: minmax(1em, 1fr);
        grid-template-rows: 1fr;

        grid-auto-flow: column;
        grid-auto-columns: minmax(1em, 1fr);
        align-items: center;

        grid-template-areas: 
            "menu banner banner links links links links links links";

        grid-template-areas: 
            "menu banner banner banner banner";
    }

    #main-header > div {
        display: inline-block;
    }

    .brand > .title {
        font-size: 22px;
    }

    .brand {
        grid-area: banner;
        display: inline;
    }

    #main-header .container  * {
        display: inline-block;
    }

    a {
        color: inherit;
        margin-right: 2em;
        text-decoration: none;
        font-size: 18px;
    }

    a:hover {
        text-decoration: none;
    }

    .left-side {
        grid-area: menu;
    }

    .right-side {
        grid-area: links;
        align-self: right;
        text-align: right;

        display: none;

        -webkit-transition: display 3s; /* Safari */
        transition: display 3s;

    }

    .right-side a {
        display: none;

    }


    /* always present */
    .reveal-transition {
      transition: all 3s ease;
    }


    .nav-icon,
    #main-header .headerButton {
      text-decoration: none;

      width: 24px;
      height: 24px;
      margin: 8px 16px 8px 8px;
      text-indent: -30000px;
      overflow: hidden;
      -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
      transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
      border: none;
      /*outline: none;*/
      cursor: pointer; 
    }

    #header-menu-btn {
        background: url(../../assets/svg_icon/baseline-menu-offwhite-24px.svg) center center no-repeat; 
    }

    #header-menu-btn[aria-expanded="true"] {
        background: url(../../assets/svg_icon/ic_close_white_24px.svg) center center no-repeat; 
    }

.active {
    color: #FFFFFF;
    font-size: 1.25em;
}

@media only screen and (min-width: 1000px) {
    #main-header {
        grid-template-areas: 
            "menu banner banner links links links links links links links";
    }

    .right-side {
        display: inline-block;

    }

    .right-side a {
        display: inline-block;
    }
}
</style>

<template>
    <!-- 
    Header should have a menu button to toggle open the draw menu 

    Header should also display the page options if not on $route = '/'

    If route in home, header should be 

    -->

    <!-- Main Header -->
    <header id="main-header" :class="{shadow: applyShadow}">
        <div class="left-side">
            <button id="header-menu-btn" type="button" data-toggle="collapse" data-target="#main-side-nav" aria-controls="main-side-nav" class="headerButton" :aria-expanded="display" aria-label="Toggle navigation"
            @click="toggleMenu"></button>
        </div>

        <div class="brand">
            <router-link class="title" to="/">Daniel Stratti</router-link>
        </div>

        <div class="right-side" v-show="showMenu" transition="reveal">
            <router-link to="/about" :class="{active: ($route.path == '/about')}">
                <img src="../../assets/svg_icon/outline-info-offwhite-24px.svg" alt="About Daniel Stratti" height="24" width="24" class="icon">
                About <!-- Info -->
            </router-link>

            <router-link to="/skills" :class="{active: ($route.path == '/skills')}">
                <img src="../../assets/svg_icon/outline-list-offwhite-24px.svg" alt="Skills and familiar technologies" height="24" width="24" class="icon">
                Skills 
            </router-link>

            <router-link to="/experiences" :class="{active: ($route.path == '/experiences')}">
                <img src="../../assets/svg_icon/outline-work_outline-offwhite-24px.svg" alt="Experience" height="24" width="24" class="icon">
                Experience <!-- Workout line -->
            </router-link>

            <router-link to="/projects" :class="{active: ($route.path == '/projects')}">
                <img src="../../assets/svg_icon/baseline-folder_open-offwhite-24px.svg" alt="Project portfolio" height="24" width="24" class="icon">
                Projects <!-- Folder shared -->
            </router-link>

            <router-link to="/contact" :class="{active: ($route.path == '/contact')}">
                <img src="../../assets/svg_icon/outline-send-offwhite-24px.svg" alt="Contact" height="24" width="24" class="icon">
                Contact <!-- Info -->
            </router-link>
        </div>
    </header>
</template>


<script>
    export default {
        name: 'app-header',
        props: {
          display: Boolean
        },

        data() {
            return {
                drawOpen: false,
                applyShadow: false,
                showMenu: false,
            }
        },

        created () {
            window.addEventListener('scroll', this.handleScroll);
            window.addEventListener('scroll', this.handleHiddenMenu);
        },

        destroyed () {
            window.removeEventListener('scroll', this.handleScroll);
            window.addEventListener('scroll', this.handleHiddenMenu);
        },

        watch:{
            '$route' (){
                this.drawOpen = false;
                this.handleHiddenMenu();
            },

            'drawOpen' () {

                this.handleScroll()
            }


        },

        methods: {
            /**
            *   Emits open and close events for the draw menu
            * @emit {open | close}: the events emitted from this component
            */
            toggleMenu: function() {
                
                this.drawOpen = !this.drawOpen;

                if (this.drawOpen)
                {
                    this.$emit("open");
                } 
                else 
                {
                    this.$emit("close");
                }
            },

            logout: function() {
                this.$store.commit("logout");

                this.$router.push({path: '/login'});
            },

            handleScroll: function() {
                
                if (window.scrollY > 0) {
                    this.applyShadow =  true;
                } 

                if (this.display) {
                    this.applyShadow = true;
                }

                if (window.scrollY <= 0 && !this.display) {
                    this.applyShadow = false;
                }
            },

            handleHiddenMenu: function() {
                if (this.$route.path == "/") {
                    this.showMenu = window.scrollY > 5 ? true : false;

                } else {
                    this.showMenu = true;
                }
            }
        },

        computed: { 
        }
    }
</script>