<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 72px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;

}

.modal-wrapper {
  display: table-cell;
  padding-top: 2em;

}

.modal-container {
  width: 90%;
  max-width: 700px;
  max-height: 90%;
  margin: 0px auto;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.modal-header h3 {
  margin-top: 0;
  /*color: #42b983;*/
}

.modal-body {
  padding: 0.125rem;
}

.modal-default-button {
  float: right;
}

.modal-footer {
    padding: 0.25rem;
    cursor: pointer;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
<!-- template for the modal component -->
<template>
            <div class="modal-mask" @click.self="$emit('close')">
                <div class="modal-wrapper" @click.self="$emit('close')">
                    <div class="modal-container">

                        <div class="modal-header">
                            <slot name="header">
                              default header
                            </slot>
                        </div>

                        <div class="modal-body">
                            <slot name="body">
                              default body
                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">
                                <button class="modal-default-button btn" 
                                @click="$emit('close')">CANCEL</button>

                                <button class="modal-default-button btn primary-btn" 
                                @click="$emit('confirm')">CONFIRM</button>

                            </slot>
                        </div>
                    </div>
                </div>
            </div>
</template>

<!-- app - ->
<div id="app">
  <button id="show-modal" @click="showModal = true">Show Modal</button>
  <!- - use the modal component, pass in the prop - ->
  <modal  @close="showModal = false">
    <!- -
      you can use custom content here to overwrite
      default content
    - ->
    <h3 slot="header">custom header</h3>
  </modal>
</div>
-->

<script>

export default {
    name: 'modal',
    data() {
        return {
            showModal: true
        }
    }
};
</script>