<style scoped>
.top {
    height: 15.5em;
    background-color: #2196F3;
    color: rgba(0, 0, 0, 0.95);
}

h1,
h2,
h3 {
    color: #003c8f; /* #5e92f3; /*#1565C0;*/
}

.bottom {
    min-height: 26em;
}

.paper-modal {
    position: fixed;
    top: 0;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    display: inline-block;
    padding: 1em;

    width: 100vw;
    height: 100vh;
    z-index: 4;
}

.paper {
    position: absolute;
    top: 11%;
    left: 10%;
    display: inline-block;

    box-sizing: content-box;
    margin-bottom: 11em;

    background-color: #FFFFFF;
    width: 80%;
    min-height: 99%;
    box-sizing: border-box;

    border-radius: 0.125em;
    padding: 1em;
    z-index: 20;

    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.21), 0 2px 9px 1px rgba(0, 0, 0, 0.18), 0 4px 2px -2px rgba(0, 0, 0, 0.3);

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 7em 1fr 5em;

}

.paper header {
    border-bottom: 0.1875em solid #5e92f3; /* #1565C0; */
    padding: 0.5em;
    margin-bottom: 1em;
}

.paper .body {
    padding: 1em;
}

footer {
    text-align: right;
    padding: 1em;
}

.btn {
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.125em;
    background-color: #b2ff59;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.btn:hover {
    background-color: #7ecb20;
}

.btn-icon {
    box-sizing: border-box;
    border: none;

    background-image: url("../../assets/svg_icon/baseline-arrow_back-24px.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    height: 24px;
    width: 24px;
}

.snipet {
    background-color: #222;
    color: #FFF;
    padding: 1em;
    border-radius: 2em;
}


/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333 }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}
</style>
<template>
    <div class="container">

        <div class="top">
        </div>

        <div class="bottom">
        </div>

        <div class="paper-modal">
            <section class="paper">
                <header slot="header">
                    <div>
                        <button type="button" class="btn-icon" 
                            aria-label="back" @click="goBack"></button>
                    </div>
                    <h1>This is the head</h1>
                </header>
                <div class="body" slot="body">
                    <p>Libraries | Frameworks | Languages</p>
                    <p>This is the default body</p>
                    <p>Project Brief</p>
                    <p>Snippets</p>
                    <p>Lessons Learned</p>
                    <div>
                        <pre class="prettyprint lang-cpp linenums:4">
                            <!--/**
                            *    Permutes the bits of an integer according to the passed array
                            *
                            * @param input {Integer}: The input integer to be permuted
                            * @param perm {Array: Integer}: the array of permuted bit positions
                            * @param inSize {Integer}: The desired length in bits of the input integer
                            * @param permSize {Integer}: The length of the permutation array used
                            *
                            * @return {Integer}: The new permuted version of the input integer.
                            */
                            int DES::permute(int input, int perm[], int inSize, int permSize)
                            {
                                int permutedKey = 0;
                                int tempBits = 0;

                                /* Permute the in-key with the perm Twenty array */
                                for (int i = 0; i < permSize; i++)
                                {
                                    /* Extract out the required bit according to the permutation */
                                    tempBits = input & (0x01 << ((inSize - (perm[i] - 1)) - 1));
                                    tempBits = tempBits >> ((inSize - (perm[i] - 1)) - 1);

                                    /* Prepare key for newest bit */
                                    permutedKey = permutedKey << 1;

                                    /* Add new bit to the new key */
                                    permutedKey = permutedKey | tempBits;
                                }

                                return permutedKey;
                            }-->
                        </pre>
                    </div>
                </div>

                <footer slot="footer">
                    <p>
                        This is the default footer
                        <button type="button" class="btn">TEST</button>
                    </p>
                </footer>
            </section>
        </div>
    </div>
</template>

<script>
export default {
      name: 'PageDisplay',
        components: {
            
        },

        data() {
            return {
                
            }
        },

        created: function() {
        },

        methods: {
            goBack: function() {
                this.$router.go(-1);
            },
        }
  }
</script>