<style scoped>
.main {
    position: relative;
    background-color: #fff;
    width: auto;
    min-height: 50px;
    vertical-align: middle;

}

.main > div:not([class="badges"]){
    display: inline-block;
    padding: 0.5em;
    height: 100%;
}

.topimg {
    width: 100%;
}

.title, 
h3 {
    margin: 0.25em 0px;
}

.badges {
    position: absolute;
    display: inline-block;
    right: 0.5em;
    padding: 0px;
    overflow: visible;
}

</style>
<template>
    <div class="main"  @click="$emit('click')">
        <slot name="title" class="title">

        </slot>

        <slot name="middle">
            
        </slot>

        <slot name="endIcons" class="badges">
            <IconBadge :img="badge" v-for="badge in badges"/>
        </slot>
    </div>
</template>

<script>
import IconBadge from "../misc/IconBadge.vue";
export default {
      name: 'RowCard',
        components: {
            IconBadge
        },

        props: [
            "title",
            "img",
            "badges"
        ],

        data() {
            return {
                
            }
        },

        created: function() {
        },

        methods: {
        },

        computed: {
        }
  }
</script>