<style scoped>
.main {
    position: relative;
    background-color: #fff;
    width: auto;
    min-height: 50px;
    vertical-align: middle;

}

.main > div:not([class="badges"]){
    display: inline-block;
    padding: 0.5em;
    height: 100%;
}

.topimg {
    width: 100%;
}

.title {
    margin: 0.25em 0px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    width: 300px;
}

h3:not(.title) {
    display: none;
}

.content {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badges {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 54px;
    right: 0.5em;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 700px) {
    .title,
    h3:not(.title) {
        margin: 0.25em 0px;
        display: inline-block;
        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .badges {
        width: auto;
        max-width: 100px;
    }
}

@media screen and (min-width: 900px) {

    .badges {
        width: auto;
        max-width: 100%;
    }
}

</style>
<template>
    <div class="main"  @click="$emit('click')">
        <div class="content">
            <h3 class="title" v-html="title"></h3>

            <slot>
                
            </slot>
            <div class="badges">
                <IconBadge :img="badge" v-for="(badge, i) in badges" :key="i"/>
            </div>
        </div>
        

        
    </div>
</template>

<script>
import IconBadge from "../misc/IconBadge.vue";
export default {
      name: 'RowCard',
        components: {
            IconBadge
        },

        props: [
            "title",
            "img",
            "badges"
        ],

        data() {
            return {
                
            }
        },

        created: function() {
        },

        methods: {
        },

        computed: {
        }
  }
</script>