<style scoped>
/* https://www.w3schools.com/howto/howto_css_timeline.asp */
/* The actual timeline (the vertical ruler) */
* {
    box-sizing: border-box;
}

.timeline {
    position: relative;
    margin: 0 auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #C2C2C2;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* event around content */
.event {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.event::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


/* Place the event to the left */
.event:nth-child(odd) {
    left: 0;
}

/* Place the event to the right */
.event:nth-child(even) {
    left: 50%;
}

/* Add arrows to the left event (pointing right) */
.event:nth-child(odd)::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #6ec6ff;
}

/* Add arrows to the right event (pointing left) */
.event:nth-child(even)::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #6ec6ff transparent transparent;
}


/* Fix the circle for events on the right side */
.event:nth-child(even)::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

header > * {
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: middle;
}

header > div {
    margin-left: 2em;
}

header {
    background-color: #6ec6ff;
    
}



@media screen and (max-width: 600px) {
    h2 {
        font-size: 1.25em;
    }

    h3 {
        font-size: 1.125em;
    }

    h4 {
        font-size: 0.8em;
    }

    .content {
        display: none;
    }

    .jobName {
        max-width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .jobName >* {

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 1000px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  
  /* Full-width events */
  .event {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .event:nth-child(even)::before,
  .event:nth-child(odd)::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #6ec6ff transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .event:nth-child(odd)::after, .event:nth-child(even)::after {
    left: 15px;
  }
  
  /* Make all right events behave like the left ones */
  .event:nth-child(even) {
    left: 0%;
  }
}
</style>


<template>
    <div class="timeline">
        <div class="event" v-for="job in exp" :key="job.desc">
            <div class="shadow">
                <header style="">
                    <h3> {{ job.start }}</h3>
                    <div class="jobName">
                        <h2>{{ job.pos }}</h2> 
                        <h4>{{ job.org }}</h4>
                    </div>
                    
                </header>

                <div class="content">
                    <p>{{ job.desc }}</p>
                    <ul>
                        <li v-for="duty in job.duties" :key="duty">{{ duty }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import IconBadge from "../misc/IconBadge.vue";
import Experience from "../../assets/lib/Experience.js";

export default {
      name: 'DisplayCard',
        components: {
            IconBadge
        },

        props: [
            "title",
            "img",
            "badges"
        ],

        data() {
            return {
                exp: Experience,
            }
        },

        created: function() {
        },

        methods: {
        },

        computed: {
        }
  }
</script>