<style scoped>

#awardDisplay {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

#awardDisplay div {
    display: inline-block;
    margin: 0px 1em;
    text-align: center;
}

#awards div p {
    margin-left: auto;
    margin-right: auto; 
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
    color: blue;
}

@media and screen only (min-width: 700px) {
    #awardDisplay {
        justify-content: center; 
    }
}
</style>

<template>
    <div id="awardDisplay">

        <div v-for="(award, index) in awards" :key="index">
            <a class="noLink" :href="award.url" target="_blank">
                <p class="tooltip">
                    {{ award.title }}
                    <span class="tooltiptext">
                        {{ award.title }}
                    </span>
                </p>
                <img :src="award.img" width="200" height="200">
            </a>
        </div>
        
    </div>
</template>

<script>
    export default {
        name: "award-carousel",
        props: [
            "awards"
        ],

        data() {
            return {

            }
        }
    }
</script>