<style scoped>

.galleryArea, 
.carouselArea {
    padding: 0.25em;
    height: auto;
    
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: max-content;
    grid-auto-flow: column;

    align-content: center;
    justify-content: left;
}

.carouselItem {
    display: inline-block;
    margin: 0.5em;
    max-width: 400px;

}

.galleryItem {
    width: 200px;
}



.groupHeading {
    margin-top: 0px;
    text-align: center;
}

.top-task > img {
    margin: 0px auto;
    display: block;
    border: 1px solid #c2c2c2;
    max-width: 80%;
    max-height: 400px;
}

.galleryFooter {
    text-align: right;
}

.header > * {
    display: inline-block;
    margin-left: 1.5em;
}

.skillModal .modal-container {
    max-width: 1000px !important;
}

@media only screen and (min-width: 1000px) {
    .galleryArea,
    .carouselArea {
        /*display: block;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;

        display: grid;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        align-content: center;
        justify-content: left;
        */
    }

     
}
</style>

<template>
    <div class="carouselArea">
        <!-- Product Image -->
        <div v-if="carousel.length > 0 && ('name' in carousel[0])" 
            v-for="(certificates, index) in carousel" :key="index">

            <Stack :imgStack="certificates.certs" @click="$emit('click', certificates)" />

            <div class="groupHeading">
                <h4 v-html="certificates.name"></h4>
            </div>
        </div>

        
        
        <DisplayCard v-if="carousel.length > 0 && !('name' in carousel[0])" 
            class="carouselItem"
            v-for="item in carousel" :key="item.title"
            :title="item.title" 
            :img="item.img"
            :badges="item.badges"/>
    </div>
</template>

<script>
import DisplayCard from "../layout/DisplayCard.vue";
import Stack from "./Stack.vue";

export default {
      name: 'Carousel',
        components: {
            DisplayCard,
            Stack,
        },

        props: [
            "carousel"
        ],

        data() {
            return {
                openModal: false,

                
            }
        },

        created: function() {
        },

        methods: {
            

            getSkew: function(count, total) {
                var px = ((16/total) * (count + 1));

                var skew = 'translate(' + px + 'px, ' + px + 'px';

                skew += ((total) == 1) ? ')' : ') skewX(-5deg) rotateZ(-5deg)';

                return skew;
            }
        },

        computed: {
        }
  }
</script>