<style scoped>
.mainCard {
    background-color: inherit;
    display: inline-block;
    width: auto;

    position: relative;

    margin: 0.125em;
}

.count {
    color: #FFF;
    background-color: #d32f2f;
    font-size: 10px;
    padding: 0.25em;
    width: 1em;
    border-radius: 50%;

    position: absolute;
    bottom: 2px;
    right: 2px;
    text-align: center;
}

</style>

<template>
    <div class="mainCard">
        <img :src="img" :alt="title" :width="size" :height="size" @click="$emit('click')"/>
        <!--span v-if="count > 0" class="count ">{{ count }}</span-->
    </div>
</template>

<script>
export default {
      name: 'IconBadge',
        components: {
            
        },

        props: {
            title: {
                type: String,
                default: ""
            },

            img: {
                type: String
            },

            count: {
                type: Number,
                default: 0
            },

            size: {
                type: Number,
                default: 48
            },
        },

        data() {
            return {
                
            }
        },

        created: function() {
        },

        methods: {
        },

        computed: {
        }
  }
</script>