<style scoped>
.item-pic {
  position: relative;
  text-align: center;
  margin: 0.5em 0 0 0.5em;
    width: 400px;
    height: 310px;
}

.item-pic,
.image {
  display: inline-block
}

.item-pic .image {
    max-width: 400px;
    max-height: 250px;
    cursor: pointer;
  
  position: absolute;
  top: 1em;
  left: 0.25em;
}

.count {
    box-sizing: border-box;
    font-size: 16px;
    

    background-color: #6ec6ff;
    padding: 0.75em 0px;
    width: 2.5em;
    height: 2.5em;

    border-radius: 50%;

    position: absolute;
    bottom: 2px;
    right: 2px;
    text-align: center;
}

</style>

<template>
    <div class="item-pic">
        <img class="image" v-for="(item, index) in imgStack.slice(0, 3)" 
            :key="index"
            :src="item.img"  
            :style="{ 
                'transform': getSkew((index + 1), imgStack.slice(0, 3).length) 
            }"
            height="250" @click="$emit('click')">

        <span v-if="imgStack.length > 0" class="count">{{ imgStack.length }}</span>
    </div>
</template>

<script>
export default {
      name: 'Stack',
        components: {
        },

        props: [
            "imgStack"
        ],

        data() {
            return {
                
            }
        },

        created: function() {
        },

        methods: {
            getSkew: function(count, total) {
                var px = ((16/total) * (count + 1));

                var skew = 'translate(' + px + 'px, ' + px + 'px';

                skew += ((total) == 1) ? ')' : ') skewX(-5deg) rotateZ(-5deg)';

                return skew;
            }
        },

        computed: {
        }
  }
</script>