<style scoped>
.about > *:not(:nth-child(1)):not([.aboutModal]) {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#toplevel {
    display: grid;
    gid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;

    grid-template-areas: 
        "pic"
        "bio";
}

#toplevel .left{
    grid-area: bio;
    padding: 1em;
}

#toplevel .right {
    grid-area: pic;
    display: inline-block;
    background-image: url("../assets/profile_wsu_award.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-filter: grayscale(100%); /* Safari */
  filter: grayscale(100%);
    background-size: cover;
}



section:nth-child(odd) {
    background-color: #FFFFFF;
}

section {
    padding-top: 1px;
    padding-bottom: 1px;
}



.addContainer {
    height: 335px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    
    margin: 0.5em auto;
    border: 1px solid #C2C2C2;
    border-radius: 0.25em;
    background-color: #FFFFFF;
}

.addProject {
    cursor: pointer;
    border-bottom: 1px solid #C2C2C2;
    padding: 0px 1em;
}

.addProject h3 {
    margin-left: 2em; 
}

.moocContainer {
    width: 80%;
    margin: auto;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
}


.aboutModal .modal-container {
    width: auto;
    min-width: 90%;
    max-width: 1000px;

}

.aboutModal h3 {
    margin-bottom: 0.25em;
}

.aboutModal .subHeading h5 {
    margin: 0.25px 1em;
    display: inline-block;
    color: rgba(0, 0, 0, 0.65);
}

.aboutModal a {
    font-size: 12px;
}

.aboutModalFooter {
    text-align: right;
}

.centerBadges {
    text-align: center;
}

.centerBadges img {
    height: 74px;
}

.noLink {
    color: inherit;
    text-decoration: none;
}

.subHeading {
     display: inline-block;
     vertical-align: middle;
     margin-left: 1.5em;
}


#educationHeader h3,
#educationHeader h4,
#educationHeader h5 {
    margin: 0.25em 0px;
    color: rgba(0, 0, 0, 0.65);
}


#educationHeader h3 {
    font-size: 15px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 90vw;

    margin-bottom: 0em;
}

#educationHeader h4,
#educationHeader h5 {
    margin-top: 0em;
    font-size: 12px;
}


#educationHeader h2 {
    margin-bottom: 0.25em;
}


.hide {
    display: none;
}

@media only screen and (min-width: 1000px) {

    .addContainer {
        width: 80% !important;
    }

    #educationHeader h3 {
        display: block;
        width: auto;
    }

    .centeredPara {
        margin-left: auto;
        margin-right: auto;
        max-width: 85%;
    }

    #toplevel {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "bio pic";
    }
}

</style>
<template>
    <div class="about">

        <!-- Top level Details -->
        <section id="toplevel">

            <!-- Breif Overview of ME -->
            <div class="left">
                <section>
                    <h2>About</h2>
                    <p>
                        In both my professional and personal life I love to continually learn, grow and evolve my current skill sets. I find it extremely enjoyable to learn, which I am confident is due to my ability to self-teach and approach topics in ways that compliment my style. This has enabled me to quickly adapt, retain and incorporate new concepts into my life.
                    </p>
                    <p>
                        The interpersonal skills and perspectives I have been exposed to during prior endeverors have enabled me to communicate effectively to a crowd, foster collaborative environments and help others to comprehend content. My approachable nature, strong work ethics and love of new experiences have aided the growth of these skills, which I continually striving to expand. 
                    </p>
                </section>
                
                <section class="">
                    <header id="educationHeader">
                        <h2>Education</h2>
                        <h3>Bachelor of Information &amp; Communications Technology</h3>
                        <h3>Bachelor of Data Science</h3>
                        <section class="subHeading">
                            <h4>Credit Points Achieved: {{ (units.length * 10) }}/320 | GPA: {{ gpa }}</h4>
                        </section>
                        <section class="subHeading">
                            <!--h5>
                                Lvl 3: {{ units.filter(function(el) { return (el.level == 3)}).length }} | 
                                Lvl 2: {{ units.filter(function(el) { return (el.level == 2)}).length }} | 
                                Lvl 1: {{ units.filter(function(el) { return (el.level == 1)}).length }} 
                            </h5-->
                            <h5>Sub-Major: Systems Security</h5>
                        </section>
                        
                    </header>
                    <div class="">
                        <p>
                            I was drawn to study Information & Communications Technology (ICT) with the desire to learn and understand how to utilise machines and the software they execute. As I have studied my initial interests have progressed and evolved with my understanding into the areas of data science, systems design, systems security, distributed systems and cloud computing <!-- and, the personal favourite, quantumn computing. -->
                        </p>
                        <p>
                            I find it truly awesome to live in era where information technologies, both hardware and software, have become readily available through cloud computing and existing frameworks. Now an idea can be deployed to market and scale to service millions of clients in a time frame previously unimaginable. The existing and ever growing streams of data produced by our information intensive society can help provide insight and solutions to some of the major issues facing earth and humanity. Designing these systems of cities of tomorrow is an exciting prospect.
                        </p>
                    </div>
                </section>
            </div>

            <!-- Professional Image -->
            <div class="right">
            </div>
        </section>

        <!-- Education -->
        <section id="education">
            
            <h3>Academic Record</h3>
            
            <!-- Unit Record -->
            <div class="addContainer">
                <RowCard class="addProject" 
                    :title="unit.title" 
                    :badges="unit.badges" 

                    v-for="unit in units" :key="unit.title"
                    @click="elaborate(unit)">
                        <h3>{{ unit.grade }} ({{ unit.mark }} %)</h3>
                        <h3>{{ unit.semester }} ({{ unit.year }})</h3>
                </RowCard>
            </div>

            <!-- Awards and Achievements -->
            <div id="awards">
                <h3>Academic Awards &amp; Achievements</h3>
                    
                <AwardCarousel :awards="awards"/>

            </div>
        </section>


        <!-- Modal to show Unit overviews -->
        <transition
            name="fade"
            mode="out-in">

            <Modal class="aboutModal" 
                v-show="openModal" 
                @close="openModal = false">
                
                <div slot="header">
                    <h3>{{ unit.title }}</h3>
                    <div class="subHeading">
                        <h5>{{ unit.grade }} ({{ unit.mark }} %)</h5>
                        <h5>{{ unit.semester }} ({{ unit.year }})</h5>
                    </div>

                    <a :href="unit.source" target="_blank" noopener>{{ unit.source }}</a>
                </div>
                <div slot="body" class="top-task">
                    <div v-html="unit.body">
                    </div>
                </div>

                <div class="aboutModalFooter" slot="footer">
                    <div class="centerBadges">
                        <IconBadge :img="badge" v-for="(badge, index) in unit.badges" :key="index"/>
                    </div>

                    <div>
                        <button class="modal-default-button btn" 
                            @click="openModal = false">CLOSE</button>
                    </div>
                </div>

            </Modal>
        </transition>
    </div>
</template>



<script>
import DisplayCard from "../components/layout/DisplayCard.vue";
import IconBadge from "../components/misc/IconBadge.vue";
import AwardCarousel from "../components/misc/AwardCarousel.vue";
import RowCard from "../components/layout/RowCard.vue";

import Modal from "../components/layout/Modal.vue";
import Studied from "../assets/lib/Studied.js";
import Awards from "../assets/lib/Awards.js";

export default {
      name: 'Projects',
        components: {
            RowCard,
            Modal,
            DisplayCard,
            IconBadge,
            AwardCarousel
        },

        param: [
        ],

        data() {
            return {
                awards: Awards,
                openModal: false,

                unit: {
                    title: "",
                    body: "",
                    badges: [],
                    short: "",
                    grade: "",
                    mark: "",
                    semester: "",
                    year: "",
                    source: ""
                },


                units: Studied,
            }
        },

        created: function() {
        },

        methods: {
            elaborate: function(unit) {
                /* Open model with subject summary, over view of assessments
                * and learning outcomes
                */
                this.unit.title = ('title' in unit) ? unit.title : "";
                this.unit.body = ('desc' in unit) ? unit.desc : "";
                this.unit.badges = ('badges' in unit) ? Array.from(unit.badges) : [];
                this.unit.source = ('source' in unit) ? unit.source : "";
                this.unit.short = unit.title;
                this.unit.grade = ('grade' in unit) ? unit.grade : "";
                this.unit.mark = ('mark' in unit) ? unit.mark : "";
                this.unit.semester = ('semester' in unit) ? unit.semester : "";
                this.unit.year = ('year' in unit) ? unit.year : "";

                this.openModal = true;
            }
        },

        computed: {
            
            gpa() {
                var myGpa = 0;

                for (var i = 0; i < this.units.length; i++) {
                    switch(this.units[i].grade) {
                        case "H":
                            myGpa += 7;
                            break;

                        case "D":
                            myGpa += 6;
                            break;

                        case "C":
                            myGpa += 5;
                            break;

                        case "P":
                            myGpa += 4;
                            break;

                        default:
                            myGpa += 0;

                    }
                }
                

                myGpa = myGpa / this.units.length;

                return myGpa.toFixed(2);
            }
        }
  }
</script>