<style>


.contact {
    text-align: center;
        /*
    display: grid;


    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "top top"
        "form details" ;
        */
}

.contact > div {
    display: inline-block;
    text-align: left;
    max-width: 500px;
}

.contact > div > h2 {
    text-align: center;
}

.top {
    grid-area: top;
}

.top,
.form,
.details {
    padding: 1em;
}

.form {
    grid-area: form;
}

.details {
    grid-area: details;
}

.btn-icon {
    margin: 0.5em 0.75em 0px 0.75em;
    display: inline-block;
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-icon span {
    display: none;
}


#linkedIn {
    background-image: url("../assets/logos/icons8-linkedin.svg");
}

#whatsapp {
    background-image: url("../assets/logos/icons8-whatsapp.svg");
}

#emailContact {
    background-image: url("../assets/svg_icon/outline-email-24px.svg");
}

#phoneContact {
    background-image: url("../assets/svg_icon/outline-phone-24px.svg");
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
    padding-left: 1em;

}

li a:nth-child(2) {
    vertical-align: super;
}

</style>
<template>
    <div class="contact">
        <!--div class="form">
            <div id="contact-form-container" class="card">

                <header id="contact-form-header">
                    <h2>Contact Form</h2>
                </header>

              <form method="post" action="" onsubmit="" novalidate>

                <div id="contact-form-name" class="input-container wcount">
                    <label for="name">Name*</label>
                    <input type="text" name="name" id="name" 
                        value=""
                        placeholder="Name" minlength="1" maxlength="90"
                        onblur="" title="alpha" required>
                    <span class="error">
                    </span>
                    <p>
                        <span class="word-count">0</span>/<span class="max-count">90</span>
                    </p>
                </div>

                <div id="contact-form-email" class="input-container wcount">
                    <label for="email">Email*</label>
                    <input type="email" name="email" id="email" 
                        value=""
                        placeholder="example@domain.com" maxlength="100"
                        onblur="" title="email" required>

                    <span class="error">
                    </span>

                    <p>
                        <span class="word-count">0</span>/<span class="max-count">100</span>
                    </p>
                </div>

                <div id="contact-form-phone" class="input-container">
                  <label for="phone">Phone (Optional)</label>
                  <input type="tel" name="phone" id="phone" 
                  value=""
                  placeholder="+61403908337"
                  onblur="" title="tel">
                  <span class="error">
                  </span>
                </div>  
                   
                <div id="contact-form-subject" class="input-container wcount">
                  <label for="sub">Subject*</label>
                  <input type="text" name="sub" id="sub" 
                  value=""
                  placeholder="Subject" minlength="1" maxlength="90"
                  onblur="" title="alpha-num" required>
                  <span class="error">
                  </span>
                  <p>
                    <span class="word-count">0</span>/<span class="max-count">90</span>
                  </p>
                </div>

                <WordCount
                    min="0"
                    max="91"
                    value="12345"
                    label="Test Subject"
                    placeholder="test"
                >
                </WordCount>

                <div id="contact-form-mess" class="input-container">
                  <label for="mess">Message*</label>
                   <textarea name="mess" id="mess"
                   placeholder="Message" 
                   onblur="" 
                   required></textarea>
                   <span class="error ">
                  </span>
                </div>

                <div id="contact-form-recap" class="center">
                  <div class="g-recaptcha" data-sitekey="6LfXjEUUAAAAANIOuXuX-iKW6kIVl_1V0Rsje9Mt">
                  </div>       
                </div>

                <div id="contact-form-submit" class="center">
                  <input id="contact-submit" type="submit" name="submit" class="btn" 
                  value="SEND">
                </div>
              </form>
              <div id="error-area">
                <span class="error">
                  
                </span>
                <span class="success">
                </span>
              </div>
            </div>
        </div-->
          

        <div class="details">
            <h2>Contact Details</h2>
            <p>
                Thanks for viewing my portfolio. Please feel free to contact me if you have any questions, require further information or would like to chat in regards to any topic addressed throughout this site.
            </p>
            <ul>
                <li>
                    

                    <a id="emailContact" class="btn-icon"
                        href="https://gitlab.com/wwdman" 
                        target="_blank"  rel="noopener"><span>Email</span>
                    </a>
                    <a href="mailto:dstratti1@gmail.com" target="_blank"  rel="noopener">dstratti1@gmail.com
                    </a>
                </li>
                <li>
                    <a id="linkedIn" class="btn-icon"
                        href="https://linkedin.com/in/daniel-stratti" 
                        target="_blank" rel="noopener"><span>LinkedIn</span>
                    </a>
                    <a href="https://www.linkedin.com/in/daniel-stratti/" target="_blank"  rel="noopener">https://www.linkedin.com/in/daniel-stratti/</a>
                </li>
                <li>
                    <a id="whatsapp" class="btn-icon" 
                        href="https://wa.me/61403908337"
                        target="_blank"  rel="noopener"><span>WhatsApp</span>
                    </a>
                    <a href="https://wa.me/61403908337" target="_blank"  rel="noopener">https://wa.me/61403908337
                    </a>
                </li>

                <li>
                    <a id="phoneContact" class="btn-icon" 
                        href="tel:+61403908337"
                        target="_blank"  rel="noopener"><span>Phone</span>
                    </a>
                    <a href="tel:+61403908337">0403 908 337</a>
                </li>

            </ul>
        </div>
    </div>
</template>

<script>

import WordCount from "../components/form/WordCount.vue";
export default {
      name: 'Contact',
        components: {
            WordCount
        },

        param: [
        ],

        data() {
            return {
                
            }
        },

        created: function() {
        },

        methods: {
            goBack: function() {
                this.$router.go(-1);
            },
        },

        computed: {
            currentCount() {
                return this.value.length;
            }
        }
  }
</script>
