<style scoped>

.experiences {
    margin: 1em;
}

.experience > h1,
.experience  p {
  text-align: center;
}
</style>

<template>
  <div class="experience">
    <h1>Experience</h1>
    <p>Please find below a breif time-line of my previous experience, for a more extensive list, please feel free to <router-link to="/contact">contact me</router-link></p>

    <div class="experiences">
        <TimeLine />
        <p class="centeredPara">
          If you would like to review more of my prior experience in the construction and hospitality industries, or would like a more indepth description, please feel free to <router-link to="/contact">contact me</router-link>
        </p>
    </div>
  </div>
</template>

<script>
import TimeLine from "../components/layout/TimeLine.vue";

export default {
  name: 'home',
  components: {
      TimeLine
  },

    data() {
        return {}
    }
}
</script>