<style scoped>

.home {
    padding-top: 0px;
    background-color: #F5F5F6;    /*#E1E2E1; */
    display: block;
    width: 100%;
    min-height: 80vh;
    position: relative;
}


/*    --------------------------------------------------------------------    *//*    --------------------------    TOP Menu    --------------------------    *//*    --------------------------------------------------------------------    */
.top {
    
    background-color: #2196F3;
    color: rgba(0, 0, 0, 0.95);
    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    height: 0px;
    /* height: 19.5em;*/


}

.top a {
    box-sizing: content-box;
    height: 24px;
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
}

.top > * {
    padding: 0px 8em;
}

.profile {
    position: absolute;
    bottom: -1em;
    height: 250px;
    width: 125px;

    box-sizing: border-box;
    border-radius: 50%;
    border: 0.125em solid rgba(0, 0, 0, 0.85);


    background-color: #FFFFFF;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/profile.jpg");

    z-index: 3;

    grid-column: 1 / 3;
    grid-row: 1;

    justify-self: center;


}

.left-side,
.right-side {
    padding: 1em;

    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    align-items: end;
    justify-items: center;
    margin: 0px 8em;
}


/*    --------------------------------------------------------------------    */
/*    -----------------------    BOTTON Content    -----------------------    */
/*    --------------------------------------------------------------------    */
.bottom {
    min-height: 26em;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-auto-columns: 1fr;
    grid-auto-flow: column;

    align-items: center;
    justify-items: center;
}

.bottom > div {
    display: inline-block;
}

/* -------------------------------------------------------------------------- */
#frameworks,
#languages {
    position: relative;

    display: grid;
    grid-gap: 0.5em;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    justify-items: center;
    align-items: center;

}

#frameworks, 
#languages {

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

}





/* -------------------------------------------------------------------------- */


    

.main-brand {
    text-align: center;
    margin: 0.5em 0px;
}

.main-brand h1 {
    display: inline-block;
    padding: 0.45em 0.675em;
    margin: 0.25em 0px;
    background-color: #b2ff59; /* #76ff03; */
    border-radius: 4px;
}

.main-brand h1 a {
    text-decoration: none;
    color: inherit;
}

.main-brand a span {
    display: none;
}

/*.external {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    justify-content: center;
}*/

.btn-icon {
    margin: 0.5em 0.75em;
    display: inline-block;
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


#linkedIn {
    background-image: url("../assets/logos/icons8-linkedin.svg");
}

#gitLab {
    background-image: url("../assets/logos/icons8-gitlab.svg");
}

#pdf {
    background-image: url("../assets/logos/outline-insert_drive_file-24px.svg");
}

#whatsapp {
    background-image: url("../assets/logos/icons8-whatsapp.svg");
}


/*
.slide-down-enter,
.slide-up-leave-active {
  
  height: 19.5em;
}

.slide-down-leave-active,
.slide-up-enter {
  height: 19.5em;
}

.slide-up-leave-active,
.slide-down-enter-active {
  transition: height 0.5s ease;
  overflow: hidden;
}
*/


* {
  will-change: height;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.expand-enter-active,
.expand-leave-active {
    transition: height 0.4s ease;

  transition-property: opacity, height;
}

.expand-enter,
.expand-leave-to {
    height: 0;
  opacity: 0;
}

.LI-profile-badge {
    position: absolute;
    top: 45%;
    margin: auto 35%;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
}


@media only screen and (min-width: 1000px) {
    .bottom .img-container {
        display: inline-block;
    }

    .bottom {
        grid-template-columns: 2fr 1.25fr 2fr;
        grid-template-rows: 1fr;

    }

    .left-side,
    .right-side {
        padding: 1em;

        display: grid;
    }

    

    #frameworks,
    #languages {
        grid-template-rows: 1fr 1fr 1fr;
    }
}
</style>

<template>
    <div class="home">
        <transition 
            name="expand"
            mode="out-in"
            @enter="enter"
            @after-enter="afterEnter"
            @leave="leave">

            <div class="top" v-show="expand">
                <div class="left-side">
                    <router-link to="/about">
                        <img src="../assets/svg_icon/outline-info-offwhite-24px.svg" alt="About Daniel Stratti" height="24" width="24" class="icon">
                        About <!-- Info -->
                    </router-link>

                    <router-link to="/skills">
                        <img src="../assets/svg_icon/outline-list-offwhite-24px.svg" alt="Skills and familiar technologies" height="24" width="24" class="icon">
                        Skills 
                    </router-link>
                </div>

                <div class="right-side">
                    

                    <router-link to="/projects">
                        <img src="../assets/svg_icon/baseline-folder_open-offwhite-24px.svg" alt="Project portfolio" height="24" width="24" class="icon">
                        Projects <!-- Folder shared -->
                    </router-link>

                    <router-link to="/experiences">
                        <img src="../assets/svg_icon/outline-work_outline-offwhite-24px.svg" alt="Experience" height="24" width="24" class="icon">
                        Experience <!-- Workout line -->
                    </router-link>
                </div>

                <div class="profile">
                    
                </div>

            </div>
        </transition>

        <div class="bottom"  @click.self="linkedinBadge = false">

            <!-- Languages -->
            <div id="languages">
                <IconBadge v-for="language in enviro.lang.slice(0, 12)" 
                    :id="language.key" 
                    :count="Number(language.count)" 
                    :img="language.img"
                    :title="language.key"
                    :key="language.key"
                    @click="viewProject(language)" />
            </div>

            <!-- main details -->
            <div class="main-brand">
                <h1>
                    <router-link to="/about">
                        Daniel Stratti
                    </router-link>
                </h1>
                <div class="external">
                    <a id="linkedIn" class="btn-icon" @click="linkedinBadge = true"><span>LinkedIn
                    </span></a>

                    <a id="gitLab" class="btn-icon"
                        href="https://gitlab.com/wwdman" 
                        target="_blank"  rel="noopener"><span>GitLab
                    </span></a>

                    <a id="pdf" class="btn-icon" 
                        href="/cv_daniel_strati.pdf"
                        target="_blank"  rel="noopener" download><span>Portfolio Download</span>
                    </a>

                    <a id="whatsapp" class="btn-icon" 
                        href="https://wa.me/61403908337"
                        target="_blank"  rel="noopener"><span>WhatsApp
                    </span></a>
                </div>
            </div>

            <!-- Frameworks -->
            <div id="frameworks">
                <IconBadge v-for="language in enviro.frame.concat(enviro.tech.slice(0, 5))" 
                    :id="language.key" 
                    :count="Number(language.count)" 
                    :img="language.img"
                    :title="language.key"
                    :key="language.key"
                    @click="viewProject(language)" />
            </div>

        </div>

        <div v-show="linkedinBadge" class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="daniel-stratti"><a class="LI-simple-link" href='https://au.linkedin.com/in/daniel-stratti?trk=profile-badge' target="_blank" rel="noopener">Daniel Stratti</a></div>
    </div>
</template>

<script>
import IconBadge from "../components/misc/IconBadge.vue";
import Environments from "../assets/lib/Environments.js";

export default {
  name: 'home',
  components: {
      IconBadge
  },

    data() {
        return {
            enviro: Environments,
            expand: false,
            linkedinBadge: false,
        }
    },  

    methods: {
        /**
        * @param icon {}
        */
        viewProject: function(icon) {
            this.$router.push(icon.url);
        },

        enter(element) {
            const height = getComputedStyle(element).height;

            element.style.height = height;

            // Force repaint to make sure the
            // animation is triggered correctly.
            getComputedStyle(element).height;

            setTimeout(() => {
                element.style.height = '19.5em';
            });
        },

        afterEnter(element) {
            element.style.height = '19.5em';
        },

        leave(element) {
            const height = getComputedStyle(element).height;

            element.style.height = height;

            // Force repaint to make sure the
            // animation is triggered correctly.
            getComputedStyle(element).height;

            setTimeout(() => {
                element.style.height = 0;
            });
        },
    },

    watch: {
    },

    mounted() {
        this.expand = true;

    },

    beforeRouteLeave (to, from, next) {
        this.expand = false;

        if (!this.expand) {

            next();
        }
    },
}
</script>
