<style>
.projects {
    padding: 0px 0px 1em 0px;
}

.topgrid {
    display: block;
}

.topgridContainer {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
}

.mainPro {
    background-color: #fff;
    display: inline-block;
    width: auto;
    transition: transform 0.25s;
}

.mainPro:hover,
.mainPro:focus {
  transform: translateY(-0.25em);
  box-shadow: 0.5em 0.5em 0.75em 0em #C2C2C2;
  -webkit-box-shadow: 0.5em 0.5em 0.75em 0em #C2C2C2;
  -moz-box-shadow: 0.5em 0.5em 0.75em 0em #C2C2C2;

  -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 4px 18px 2px rgba(0, 0, 0, 0.12), 0 8px 4px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 4px 18px 2px rgba(0, 0, 0, 0.12), 0 8px 4px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 4px 18px 2px rgba(0, 0, 0, 0.12), 0 8px 4px -4px rgba(0, 0, 0, 0.2);
}

.mainPro h3 {
    max-width: 100px;
}

.addContainer {
    height: 335px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    
    margin: 0px auto;
    border: 1px solid #C2C2C2;
    border-radius: 0.25em;
    background-color: #FFFFFF;
}

.addProject {
    border-bottom: 1px solid #C2C2C2;
    padding: 0px 1em;
}

#bottomlist {
    margin: 0px 0.5em;
}

.projectHead { text-align: center; }



@media only screen and (min-width: 1000px) {
    .topgrid {
        display: block;
        padding: 1em 15%;
    }

    .topgridContainer {
        display: grid;
        grid-gap: 1em;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;

    }

    #bottomlist {
        margin: 0px 15%;
    }
    .addContainer {
        width: 80% !important;
    }

    .mainPro h3 {
        max-width: 125px;
    }
}
</style>
<template>
    <div class="projects">
        <h1 class="projectHead">Data Science Projects</h1>

        <section class="topgrid">

            <div class="topgridContainer">

                <DisplayCard class="mainPro" 
                    :title="project.title" 
                    :img="project.img"
                    :badges="project.badges" 

                    v-for="project in dsProjects" :key="project.title"
                    @click="elaborate(project)"/>

            </div>

        </section>

        <h1 class="projectHead">Developer Projects</h1>

        <section class="topgrid">

            <div class="topgridContainer">

                <DisplayCard class="mainPro" 
                    :title="project.title" 
                    :img="project.img"
                    :badges="project.badges" 

                    v-for="project in projects" :key="project.title"
                    @click="elaborate(project)"/>

            </div>

        </section>



        <section id="bottomlist">
            <h4>Additional Projects</h4>
            <!--div>
                <label for="search">Search</label>
                <input type="search" v-model="searchTerm">
            </div-->

            <div class="addContainer">
                <RowCard class="addProject" 
                    :title="project.title" 
                    :badges="project.badges" 

                    v-for="project in additionalList" :key="project.title"
                    @click="elaborate(project)"/>

                <RowCard class="addProject" 
                    title="And many more, just get in contact"
                    @click="$router.push({path:'/contact'})" />
            </div>

        </section>

        <!-- Modal to show Unit overviews -->
        <transition
            name="fade"
            mode="out-in">

            <Modal class="projectModal" 
                v-show="openModal" 
                @close="openModal = false">
                
                <div slot="header">
                    <h3 v-html="unit.title"></h3>
                    
                </div>
                <div slot="body" class="top-task">
                    <h4 class="subHeading">Project Description</h4>
                    <div v-html="unit.desc">
                    </div>
                </div>

                <div class="projectModalFooter" slot="footer">
                    <div class="centerBadges">
                        <IconBadge :img="badge" v-for="(badge, index) in unit.badges" :key="index"/>
                    </div>

                    <div>
                        <button class="modal-default-button btn" 
                            @click="openModal = false">CLOSE</button>
                    </div>
                </div>

            </Modal>
        </transition>
    </div>
</template>

<script>
import DisplayCard from "../components/layout/DisplayCard.vue";
import RowCard from "../components/layout/RowCard.vue";
import ImageModal from "../components/misc/ImageModal.vue";
import IconBadge from "../components/misc/IconBadge.vue";
import Projects from "../assets/lib/Projects.js";
import Modal from "../components/layout/Modal.vue";

export default {
      name: 'Projects',
        components: {
            DisplayCard,
            RowCard,
            ImageModal,
            IconBadge,
            Modal
        },

        param: [
        ],

        data() {
            return {
                searchTerm: "",
                additional: Projects.additional,
                projects: Projects.projects,
                dsProjects: Projects.dsProjects,
                openModal: false,
                unit: {
                    title: "",
                    desc: "",
                    img: "",
                    badges: [],
                },

            }
        },

        created: function() {
            //
            
            
        },

        watch: {
            '$route' () {
                if (this.$route.params.type) {
                    this.searchTerm = this.$route.params.type;
                }
            }
        },

        methods: {
            /**
            * @param icon {}
            */
            elaborate: function(unit) {
                /* Open model with subject summary, over view of assessments
                * and learning outcomes
                */
                this.unit.title = ('title' in unit) ? unit.title : "";
                this.unit.desc = ('desc' in unit) ? unit.desc : "";
                this.unit.badges = ('badges' in unit) ? Array.from(unit.badges) : [];
                

                this.openModal = true;
            },
        },

        computed: {
            additionalList() {
                var vm = this;

                if (vm.searchTerm == "") {
                    return vm.additional;
                }
                
                return vm.additional.filter(function(tmp) {
                    if (tmp.title.toLowerCase().search(vm.searchTerm.toLowerCase()) != -1) {

                        return true;
                    }

                    if (tmp.desc.toLowerCase().search(vm.searchTerm.toLowerCase()) != -1) {

                        return true;
                    }

                    return false;
                });
            }
        }
  }
</script>