<!-- From ABOUT

Education - ->
<section id="personal">
    <h2>Personal</h2>
    <p class="centeredPara">
        In both my professional and personal life I love to continually learn, grow and evolve my current skill sets. I find it extremely enjoyable to learn, something that I am confident is due to my ability to self-learn and approach topics in ways that compliment my learning style. From a young age I set myself the goal of identify how I best obsorbed new information, which I continue to hone and explore, resulting in my current ability to quickly adapt, retain and incorporate new concepts into my life.
    </p>

    <p class="centeredPara">
        In addition to learning I love to adventure and explore, my hobby of sailing has given me a new frontier to explore and master. Whilst I am still an armature sailor I enjoy reading and manipulating the wind to manoeuvre my vessel through the ocean. In addition to the adventure and exploration sailing has provided me, it has also been a new area of skills to learn and grow
    </p>

    <p class="centeredPara">
        Prior to sailing I spent many years satisfying my sense of adventure through travelling the globe and indulging in extreme sports, of which snowboarding was a favourite of mine. I’ve travelled to many countries throughout Europe, Asia and Africa, which gave me a globalised perspective and allowed me to interact with many vastly different cultures which became a strength of mine when working in diverse teams.
    </p>

</section-->

<!--p>
    I love problem solving and am extremely excited to born into the era where the time from the identification of a problem space, to implementing an idea as a scalable solution is faster than ever before.
</p>
<p>
    This sprint to market has also disruptively challenged a lot of traditional design and development methodologies, fortunately the current pace lends itself to one of my favourites – DevOps. A design paradigm I like to incorporate into any project where the area of concerns for Development and Operational teams is amalgamated into the concerns of a single team or individual.
</p>
<p>
    The interpersonal skills I have acquired during prior projects and employment have enabled me to communicate effectively to a crowd, direct meetings both internally and externally towards clients and suppliers as well as best utilise the resources available. These skills are aided by my approachable nature and ability to self-learn which I strive to continually grow.
</p-->


<!--h3>Objectives</h3>
<ul>
    <li>
        Contribute to becoming a space bearing civilisation
    </li>
    <li>
        Aid in environmental and manufacturing solutions
    </li>
    <li>
        Explore Quantum technologies in Production, Security and Networking
    </li>
    <li>
        Create decentrilised solutions
    </li>
</ul-->