<style scoped>
    section {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    h1 {
        text-align: center;
    }
    #skillDisplay {
        

        min-height: 60vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: columns;
        grid-auto-rows: 1.5em;
        grid-gap: 5em;

        justify-content: center;
        align-items: center;

        position: relative;
        z-index: 1;
    }

    #skillDisplay::before {
      content: "";
      position: absolute;
      top: 0; 
      left: 0;
      width: 100%; 
      height: 100%;  
      opacity: 0.85; 
      z-index: -1;
      background: url('../assets/Worldwide-connection-blue-background-illustration-vector/61764.jpg');
      background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 15%;
    }

    #skillDisplay > div {
       display: inline;
    }

    section:nth-child(odd) {
        background-color: #FFFFFF;
    }

    .skillset {
        padding: 1em;
        border-radius: 1em;
        border: 2px solid #C2c2c2;
        margin: 1em;
        display: inline-block;
        max-width: 500px;
        width: auto;
        background-color: #F5F5F6;
        text-align: left;
        height: 200px;

        overflow-y: scroll;

    }

    .skillset > h4 {
        margin: 0.5em;
        text-align: center;
    }

    .skillset > ul {
        text-align: center; 
        font-size: 14px;
        list-style: none;
        line-height: 1.5em;
        padding-left: 0px;
    }

    #skillsetsection {
        padding: 1em;
        text-align: center;
    }


    /* --------------- Carousel ---------------- */

    .galleryArea {
        padding: 0.25em;
        height: auto;
        
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;

        display: grid;
        grid-template-rows: 1fr;
        grid-auto-columns: max-content;
        grid-auto-flow: column;

        align-content: center;
        justify-content: left;
    }

    .carouselItem {
    display: inline-block;
    margin: 0.5em;
    max-width: 400px;

}

.galleryItem {
    width: 200px;
}



.groupHeading {
    margin-top: 0px;
    text-align: center;
}

.top-task > img {
    margin: 0px auto;
    display: block;
    border: 1px solid #c2c2c2;
    max-width: 80%;
    max-height: 400px;
}

.galleryFooter {
    text-align: right;
}

.header > * {
    display: inline-block;
    margin-left: 1.5em;
}

.modal-wrapper .modal-container {
    max-width: 1000px !important;
}

@media screen and (min-width: 850px) {
    .skillset {
        width: 25%;
    }
}
</style>
<template>
  <div class="skills">
    <h1>Skills</h1>

    <p class="centeredPara">
        Through my various academic, personal and professional projects I have been exposed to many different programming languages, environments and technologies that I enjoyed learning and experimenting with. While I do not claim to have a photographic memory of the niche syntax and quirks of each of the below technologies, I have played, built and experimented with all of them. 
    </p>
    <p class="centeredPara">
        I enjoy expanding my current tool belt of technologies, although I'd still benifit from having the relevant cheatsheet handy in the background. I do pride myself on my programming and system design capabilities, and I feel comfortable implementing software design patterns into any language, environment or technology.
    </p>

    <section id="skillDisplay">
        <!--h2>Languages experienced in</h2-->
        <div id="languages" class="centeredPara">
            <IconBadge v-for="language in enviro.lang"
                :key="language.key"  
                :id="language.key" 
                :img="language.img"
                :title="language.key"
                :size="72" />
        </div>

        <!--h3>Frameworks</h3-->
        <div id="frameworks" class="centeredPara">
            <IconBadge v-for="language in enviro.frame.concat(enviro.tech)" 
                :key="language.key" 
                :id="language.key" 
                :img="language.img"
                :title="language.key"
                :size="72" />
        </div>
        <a href='https://www.freepik.com/free-vector/worldwide-connection-blue-background-illustration-vector_3439367.htm'>Background image designed by Rawpixel.com</a>
    </section>

    <section id="skillsetsection">

        <div class="skillset">
            <h4>Management</h4>
            <ul>
                <li>Excellent time management and punctuality.</li>
                <li>Able to complete tasks independently and in a timely manner.</li>
                <li>Able to delegate tasks and work in a team to increase productivity.</li>
                <li>Able to maintain general records.</li>
                <li>Experience in supervision of tasks ensuring safety and timely completion.</li>
            </ul>
        </div>
        
        
        
        <div class="skillset">
            <h4>Communication</h4>
            <ul>
                <li>
                    Can <!--abbr title="Peer Assisted Study Sessions">PASS</abbr--> facilitation of group environments
                </li>
                <!--li>Pays close attention to details and able to follow instructions.</li-->
                <li>Seeks constructive criticism.</li>
                <li>Confident public speaker.</li>
                <li>Confidently and effectively communicate ideas and concepts in group meetings.</li>
                <li>Able to problem solve and resolve issues.</li>
            </ul>
        </div>

        <div class="skillset">
            <h4>Favorite Tools</h4>
            <ul>
                <li>Scetching designs with pen &amp; paper</li>
                <li>AWS for Cloud Computing</li>
                <li>Material Design guide for layouts &amp; colour pairing</li>
                <li>
                    <a href="https://material.io/tools/icons/?style=baseline">material.io/tools/icons/</a>
                </li>
                <li>
                    <a href="https://material.io/tools/color/#!/?view.left=0&view.right=0">material.io/tools/color/</a>
                </li>
                <li>KNIME for complex data analysis</li>
                <li>Postman for API development, testing &amp; documentation</li>
                <li>
                    <a href="https://www.getpostman.com/">getpostman.com</a>
                </li>
                <!--li>Material.io/tools/icons, Material.io/tools/color etc</li-->
            </ul>
        </div>
    </section>

    

    

    

    <!-- Hobbies -->
        <section id="hobbies">
            <h2>Relevant Interests</h2>

            <p class="centeredPara">
                I love to problem solve and am extremely excited to be born into the era where a problem space can be identified, and solutions implemented faster than ever before.
            </p>
            <p class="centeredPara">
                This sprint to market has also disruptively challenges a lot of traditional design and development methodologies, fortunately the current pace lends itself to some of my favourites – DevOps & NoOps. DevOps is a design paradigm where the concerns for development and operational teams is amalgamated into the concerns of one, leading to more robust and scalable solutions. NoOps is a design paradigm that has arisen from serverless cloud computing offerings. It reduces the operational concerns to be almost non-existent, allowing resources to be invested towards the development of the application or services.
            </p>

            <p class="centeredPara">
                These methodologies perfectly align with my interest in cloud computing. There is something truly spectacular about not only automating processes but also the allocation of hardware components. Deploying an application in the modern era can achieve a ‘self-healing’ and scalable solution that seamlessly grow or shrink as it’s services are needed. This is a spectacular concept in terms of system design and something I strive to implement.
            </p>
            <p class="centeredPara">
                With the abundance of information streaming into the internet daily, I find statistical methods of data mining and analysis extremely interesting, the ability to gain insight from data is an amazing field that I am very passionate about. The use and application of machine learning, artificial intelligence and edge analytics in the modern landscape of big data and <abbr title="Internet Of Things">IOT</abbr> devices is truly intriguing and are skills I plan to hone throughout my career.

                
            </p>

            <p class="centeredPara">
                After I started to learn about cloud computing and deploying application, my interests in distributed systems grew and the security around it. The recent popularity of distributed ledger technologies and blockchains are also an exciting prospect that I keenly explore. Distributed Applications (<abbr title="Distributed Application">dApps</abbr>) and the smart contracts they execute are an interesting avenue of securing systems, protecting user data and providing robust availability. <abbr title="Distributed Application">dApps</abbr> are an exciting technology that I intend to add into my professional tool belt. 
            </p>
            
            <!--p>
                Project Management
            </p>

            <p>
                Mention Quantum Computing (Networking, Computing, Security & Quark manipulation) 
            </p-->


            <h3>Completed <abbr title="Massive Open Online Courses">MOOC</abbr>'s</h3>
            <p class="centeredPara">
                It is truly awesome to exist in the internet age. The abundance of free information and courses available is outstanding and perfectly aligns with my love of learning and study interests. While I personally feel that to properly learn a topic more than a <abbr title="Massive Open Online Course">MOOC</abbr> is required, I do find the courses very fun and an amazing way to explore a topic at an introductory / intermediate level. During my university studies, I found <abbr title="Massive Open Online Course">MOOC</abbr>s extremely beneficial in aiding my revision as well as exploring additional areas of a presented topic. Please feel free to review the many certificates of completion that I have acquired over the years.
            </p>
            
            <Carousel :carousel="[
                    { name: 'Misc', certs: moocs.miscCerts},
                    { name: 'Security', certs: moocs.securityCerts},
                    { name: 'API\'s', certs: moocs.apiCerts},
                    { name: 'Analysis (<abbr title=\'Machine Learning\'>ML</abbr> & <abbr title=\'Artificial Intelligence\'>AI</abbr>)', certs: moocs.analysisCerts},
                    { name: 'Cloud Computing', certs: moocs.awsCerts},
                    { name: 'Frameworks', certs: moocs.frameWorkCert},
                    { name: 'Languages', certs: moocs.langCerts},
                ]" 
                @click="setGallery" />


        </section>

        <transition
            name="fade"
            mode="out-in">

            <Modal 
                class="skillModal" 
                v-show="openModal" 
                @close="openModal = false">
                
                <div slot="header" class="header">
                    <!--h3 v-html="collection.name"></h3>
                    <p>Number of Certificates: {{ collection.certs.length }}</p-->
                </div>
                <div slot="body" class="top-task">
                    <img :src="collection.current" alt="" >

                    <div class="galleryArea">
                        <DisplayCard v-if="collection.certs.length > 0" 
                            class="carouselItem galleryItem"
                            v-for="item in collection.certs" :key="item.title"
                            :title="item.title" 
                            :img="item.img"
                            :badges="item.badges"
                            @click="setCurrentImg(item.img)"/>
                    </div>
                </div>

                <div class="galleryFooter" slot="footer">
                    <button class="modal-default-button btn" 
                    @click="openModal = false">CLOSE</button>
                </div>

            </Modal>
        </transition>
    
  </div>
</template>

<script>
import IconBadge from "../components/misc/IconBadge.vue";
import Carousel from "../components/misc/Carousel.vue";
import Moocs from "../assets/lib/Moocs.js";
import Environments from "../assets/lib/Environments.js";
import Modal from "../components/layout/Modal.vue";
import DisplayCard from "../components/layout/DisplayCard.vue";

export default {
  name: 'home',
  components: {
      IconBadge,
      Carousel,
      Modal,
      DisplayCard
  },


    data() {
        return {
            moocs: Moocs,
            enviro: Environments,

            collection: {
                certs: [],
                name: "",
                current: ""
            },

            openModal: false,
        }
    },  

    methods: {
        setCurrentImg: function(img) {
            this.collection.current = img;
        },

        setGallery: function(certificates) {
            this.collection.name = certificates.name;
            this.collection.certs = certificates.certs;
            this.collection.current = certificates.certs[0].img;

            this.openModal = true;
        },
        
    }
}
</script>